<div class="row justify-content-center">
  <!-- First Card -->
  <div class="col-sm-6 col-md-3 mb-3">
    <div class="card text-center p-2">
        <img
        src="promo/bolaine5l.png"
        class="card-img-top small-image mx-auto"
        alt="Catalogue 1"
      />
      <h5 class="card-title mb-2" >
        Lessive Bolaine - 5L
      </h5>
      <h6 class="mb-2" style="color: #0a58bf">15,300 TND</h6>
      
    </div>
  </div>

  <div class="col-sm-6 col-md-3 mb-3">
    <div class="card text-center p-2">
        <img
        src="promo/linge-JUDY.png"
        class="card-img-top small-image mx-auto"
        alt="Catalogue 1"
      />
      <h5 class="card-title mb-2" >
        JUDY linge - 2,6L
      </h5>
      <h6 class="mb-2" style="color: #0a58bf">15,000 TND</h6>
      
    </div>
  </div>

  <div class="col-sm-6 col-md-3 mb-3">
    <div class="card text-center p-2">
        <img
        src="promo/manchem12.png"
        class="card-img-top small-image mx-auto"
        alt="Catalogue 1"
      />
      <h5 class="card-title mb-2" >
        Manche Métallique - 1.2 M
      </h5>
      <h6 class="mb-2" style="color: #0a58bf">1,670 TND (PS)</h6>
      
      <h5 class="card-title mb-2" >
        Manche Métallique - 1.4 M
      </h5>
      <h6 class="mb-2" style="color: #0a58bf">2,000 TND (PS)</h6>
    </div>
  </div>

  <div class="col-sm-6 col-md-3 mb-3">
    <div class="card text-center p-2">
        <img
        src="promo/papier-hygienique-kotis.png"
        class="card-img-top small-image mx-auto"
        alt="Catalogue 1"
      />
      <h5 class="card-title mb-2" >
        Papier Hygiénique Kotis - 4pcs
      </h5>
      <h6 class="mb-2" style="color: #0a58bf">2,000 TND (PS)</h6>
      
    </div>
  </div>


  <div class="col-sm-6 col-md-3 mb-3">
    <div class="card text-center p-2">
        <img
        src="promo/cotona.png"
        class="card-img-top small-image mx-auto"
        alt="Catalogue 1"
      />
      <h5 class="card-title mb-2" >
        Papier Hygiénique cotona - 4pcs
      </h5>
      <h6 class="mb-2" style="color: #0a58bf">2,000 TND (PS)</h6>
      
    </div>
  </div>


</div>
